@font-face {font-family: clean; src: url(https://file.garden/ZxeJbwpMpVUTaKTZ/Fredoka-VariableFont_wdth%2Cwght.ttf);}

* {
    text-align: center;
    font-family: clean;
}

body {
    background-color: #DFF2EB;
    color: #4A628A;
    opacity: 1;
    background-image: 
        linear-gradient(#DFF2EB 8px, transparent 8px), 
        linear-gradient(to right, #DFF2EB 8px, #B9E5E8 8px);
    background-size: 80px 80px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}


p{
    font-size: 1rem;
}

#outline{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.buttons{
    text-align: center;
}

.buttons button{
    height: 40px;
    border-radius: 12px;

    margin:1rem;
    padding-bottom:0.1em;

    border-radius: 5%;
    border: 4px solid #4A628A;
    background-color: #7AB2D3;

}

.buttons button a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.buttons button a:hover {
    color: #4A628A;
    text-decoration: underline;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: auto;
    background-color: white;
    overflow-y: auto;
}

th, td {
    border: 2px solid #4A628A;
    border-radius: 2;
    padding: 8px; 
    text-align: center; 
    padding: 1rem;
}

th {
    background-color: #7AB2D3;
    color: white;
    font-weight: 500;
}

td {
    color: #4A628A;
}

.container {
    width: 20rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin: auto;
    border-radius: 25px;
    border: 5px solid #4A628A;
    background-color: #7AB2D3;
    padding: 1rem;
    color: white;
}

.container a {
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

.container a:hover {
    color: #4A628A;
    text-decoration: underline;
}

.child a{
    color: #4A628A;
    text-decoration: underline;
}

.child a:hover {
    color: #7AB2D3;
    text-decoration: underline;
}

hr {
    color: #7ab2d385;
    height: 0.5em;
    background-color: #7AB2D3;
    border-color: #7AB2D3;
    border: 1px;
    margin: 0.1rem;
}

nav{
    background-color: #cdf4f786;
}

.header {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-size: 2rem;
}

.main{
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

/* Container styles */
.scrolling-text-container {
    background-color: #7ab2d389;
    border-radius: 4px;
    overflow: hidden;
    position:fixed;
    bottom: 0;
    width: 100%;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    color: #ffffffbe;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
